@media (width < 1360px) {
    .scr1 {
        padding: 120px 3.375rem 80px;
    }

    nav {
        padding-left: 10%;
        padding-right: 5%;
    }
}

@media (width < 1230px) {
    .scr1 .right {
        overflow: hidden;
    }

    .scr1 {
        padding: 120px 0px 80px 3.375rem;
    }

    nav {
        max-width: 95%;
    }
}

@media (width < 1214px) {
    .scr1 .left3 div {
        width: 100%;
    }

    .scr1 .left .left3 .btn1 {
        text-align: center;
        margin: 0px;
    }

    .scr1 .left3 .btn2 .line {
        text-align: center;
    }

    .scr1 .left3 {
        gap: 10px;
    }

    nav .nav-list .right .btn2 {
        display: none;
    }
}

@media (width < 1084px) {
    nav .nav-list .right .bars {
        display: flex;
    }

    nav .nav-list .right .btn1 {
        display: none;
    }

    nav .nav-list .right .btn3 {
        display: none;
    }

    nav .nav-list .left {
        display: none;
    }

    nav .nav-list {
        justify-content: flex-end;
        width: auto;
    }

    nav {
        padding-right: 0px;
    }
}

@media (width < 1024px) {
    .scr1 .left .left1 div {
        font-size: 55px;
    }

    .scr1 .btm-line {
        display: none;
    }
}

@media (width < 768px) {
    .scr1 {
        width: auto;
        flex-wrap: wrap;
        padding: 120px 1.75rem 80px;
        gap: 40px;
    }

    .scr1 .left {
        text-align: center;
        max-width: 650px;
        width: 100%;
    }

    .scr1 .left .left3 {
        width: 100%;
    }

    .scr1 .left .left1 div {
        font-size: 3.125rem;
    }
    .scr1 .left .left2 {
        margin: 0px;
    }

    .scr1 .right {
        max-width: 650px;
        width: 100%;
        overflow: visible;
    }

    nav {
        max-width: 90%;
    }
}

@media (width < 575px) {
    .scr1 .left .left1 div {
        font-size: 45px;
    }
}
