* {
    margin: 0px;
    border: border-box;
    font-family: Helvetica;
    /* overflow-x: hidden; */
}

.scr1 {
    width: 100%;
    padding: 120px 0px 80px;
    background-color: #541554;
    display: flex;
    justify-content: center;
    gap: 1.5%;
    /* flex-wrap: wrap; */
    overflow-x: hidden;
}

.scr1 .left {
    flex-grow: 1;
    max-width: 40.625rem;
    width: 40.625rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid black; */
}

.scr1 .right {
    max-width: 34.688rem;
    width: 34.688rem;
    height: 25rem;
    /* overflow: hidden; */
    /* border: 2px solid black; */
}

.scr1 .right video {
    max-width: 43.75rem;
    min-width: 0rem;
    width: 43.75rem;
    /* height: 25rem; */
    /* width: auto; */
    /* height: 100%; */
}

.scr1 .left .left1 div {
    font-size: 60px;
    font-weight: bold;
    color: white;
    display: inline;
}

.scr1 .left .left1 .head2 {
    color: #ecb22e;
}

.scr1 .left .left2 {
    font-size: 20px;
    color: white;
    margin-right: 50px;
    line-height: 1.6;
}

.scr1 .left .left3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.scr1 .left .left3 .btn1 {
    color: #611f69;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 3px;
    margin-right: 10px;
}

.scr1 .left .left3 .btn2 {
    background-color: rgb(46, 143, 254);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scr1 .left .left3 .btn2 .line {
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 10px 20px;
}

.scr1 .left .left3 .btn2 .img {
    height: 48px;
    width: 48px;
    border-radius: 2px;
    background-color: white;
    margin: 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scr1 .left .left3 .btn2 .img img {
    height: 20px;
    width: 20px;
}

.scr1 .left .left3 .btm-line {
    font-size: 20px;
    color: white;
    margin-top: 16px;
}

.nav-box {
    display: flex;
    justify-content: center;
}

nav {
    max-width: 76.875rem;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    display: flex;
    /* justify-content: space-between; */
}

nav .logo {
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav .logo img {
    width: 100px;
}

.nav .nav-list {
    flex-grow: 1;
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
}

nav .nav-list .left {
    max-width: 670px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

nav .nav-list .left .opt {
    padding: 0px 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

nav .nav-list .right {
    /* min-width: 440px; */
    /* flex: 1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .nav-list .right .search {
    display: flex;
    align-items: center;
    width: 55px;
}

nav .nav-list .right .search i {
    font-size: 20px;
    color: white;
}

nav .nav-list .right .bars {
    display: flex;
    align-items: center;
    width: 55px;
    display: none;
}

nav .nav-list .right .bars i {
    font-size: 20px;
    color: white;
}

nav .nav-list .right .btn1 {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-right: 20px;
}

nav .nav-list .right .btn2 {
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 12px 16px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

nav .nav-list .right .btn3 {
    font-size: 14px;
    font-weight: 500;
    color: #611f69;
    background-color: white;
    padding: 12px 16px;
    margin-left: 20px;
    border-radius: 5px;
}

.scr2 {
    padding-top: 48px;
    background-color: #f4ede4;
}

.scr2 .line {
    padding: 0px 100px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;
}

.scr2 .companies-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scr2 .companies {
    width: 1010px;
    height: 74px;
    display: flex;
    justify-content: space-around;
    /* padding: 0px 6.25rem;
    margin: 0px 9.375rem; */
}

.scr2 .companies .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scr3 {
    background-color: #f4ede4;
}

.scr3 .card-outer {
    display: flex;
    justify-content: center;
    padding: 48px 0px;
}

.scr3 .card {
    width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scr3 .card .content {
    width: 500px;
}

.scr3 .card .video video {
    height: 21.65rem;
}

.scr3 .card .content .line1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
}

.scr3 .card .content .line2 {
    font-size: 17.5px;
    width: 480px;
    margin-bottom: 16px;
    line-height: 1.6;
}

.scr3 .card .content .line3 {
    font-size: 17px;
    color: #1264a3;
}

.scr4 .box {
    display: flex;
    justify-content: center;
    padding: 48px 0px 24px;
}

.scr4 .box .content {
    width: 80%;
}

.scr4 .box .content .line1 {
    font-size: 50px;
    font-weight: 600;
    margin: 50px 0px 16px;
    text-align: center;
}

.scr4 .box .content .line2 {
    font-size: 18px;
    /* font-weight: 600; */
    margin: 0px 0px 16px;
    text-align: center;
}

.scr4 .box .content .buttons {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 16px 0px 64px;
}

.scr4 .box .content .buttons .btn1 {
    font-size: 14px;
    font-weight: 600;
    background-color: #611f69;
    color: white;
    padding: 19px 40px 20px;
    border-radius: 3px;
    border: 1px solid #611f69;
}

.scr4 .box .content .buttons .btn2 {
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    color: #611f69;
    padding: 19px 40px 20px;
    border-radius: 3px;
    border: 1px solid #611f69;
    margin: 16px 0px 0px 8px;
}

.scr4 .box .content .percent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 18px 0px 16px;
    padding-top: 24px;
}

.scr4 .box .content .percent div {
    width: 190px;
}

.scr4 .box .content .percent .l1 {
    font-size: 64px;
    font-weight: 600;
    color: #611f69;
    margin-bottom: 4px;
}

.scr4 .box .content .percent .l2 {
    font-size: 14px;
    line-height: 1.6;
    /* font-weight: 600; */
}

.scr5 .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.scr5 .box .left {
    width: 49%;
}

.scr5 .box .left video {
    width: 100%;
    border-radius: 0px 210px 210px 0px;
}

.scr5 .box .right {
    width: 49%;
}

.scr5 .box .right .content {
    padding: 32px;
}

.scr5 .box .right .content .line1 {
    font-size: 28px;
    margin-bottom: 16px;
}

.scr5 .box .right .content .line2 {
    font-size: 16px;
}

.scr5 .box .right .content .line3 {
    font-size: 16px;
}

.scr5 .box .right .content .line4 {
    font-size: 17px;
    color: #1264a3;
    margin-top: 10px;
    padding: 16px 0px 10px;
}

.scr5 .last-line {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 14px;
}

.scr6 {
    background-color: #f4ede4;
}

.scr6 .box {
    /* display: flex;
    justify-content: center; */
    padding: 32px 0px;
}

.scr6 .box .heading {
    width: 80%;
    padding: 0px 10%;
    margin: 26px 0px 16px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.scr6 .box .cards {
    width: 100%;
    /* padding: 0px 10% 24px; */
    margin: 32px 0px 16px;
    display: flex;
    justify-content: center;
    gap: 32px;
    /* flex-wrap: wrap; */
}

.scr6 .box .cards .card {
    display: flex;
    /* justify-content: center; */
    align-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    width: 17.813rem;
    height: 26.25rem;
    box-shadow: 2px 2px 10px rgb(190, 190, 190);
}

.scr6 .box .cards .card .header .img {
    padding: 12px;
    overflow: auto;
}

.scr6 .box .cards .card .header .img img {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
}

.scr6 .box .cards .card .header .sub-heading {
    padding: 0px 12px;
    font-size: 14px;
    margin-top: 8px;
}

.scr6 .box .cards .card .header .main-heading {
    padding: 0px 12px;
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0px 16px;
}

.scr6 .box .cards .card .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.scr6 .box .cards .card .footer div {
    color: #1264a3;
    font-size: 14px;
    font-weight: 600;
    padding-left: 12px;
}

.scr6 .box .cards .card .footer .arrow {
    font-size: 32px;
    font-weight: bold;
    padding-right: 20px;
}

.scr7 .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0px;
    background-color: #4a154b;
    /* border-radius: 0% 0% 500px 500px; */
    clip-path: ellipse(75% 100% at center top);
}

.scr7 .box .heading {
    width: 80%;
    padding: 0px 10%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
}

.scr7 .box .buttons {
    display: flex;
}

.scr7 .box .buttons .btn {
    font-size: 14px;
    font-weight: bold;
    color: #611f69;
    padding: 19px 40px 20px;
    background-color: white;
    border-radius: 4px;
    font-weight: bold;
}

.scr7 .box .buttons .btn2 {
    margin-left: 8px;
}

.footer1 {
    display: flex;
    justify-content: center;
    /* display: none; */
}

.footer1 .box {
    width: 80%;
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
}

.footer1 .box .logo img {
    width: 50px;
}

.footer1 .box .menu {
    display: flex;
}

.footer1 .box .menu .menu-col {
    width: 12.875rem;
}

.footer1 .box .menu .menu-col div {
    height: 40px;
    font-size: 14px;
}

.footer1 .box .menu .menu-col .menu-head {
    font-weight: bold;
}

.footer2 {
    display: flex;
    justify-content: center;
}

.footer2 .box {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
}
.footer2 .box .box1 {
    display: flex;
}

.footer2 .box .box1 .item {
    margin-right: 16px;
    font-size: 13px;
    font-weight: bold;
}

.footer2 .box .box1 .item div i {
    margin: 0px 8px;
}

.footer2 .box .box2 {
    flex: 1;
    display: flex;
    justify-content: end;
}

.footer2 .box .box2 div {
    font-size: 14px;
    color: #1264a3;
}

.footer2 .box .box2 div i {
    margin-right: 8px;
}

.fa-globe {
    font-size: 15px;
}

.fa-chevron-down {
    font-size: 10px;
}

.footer2 .box .box3 i {
    font-size: 18px;
    margin-left: 16px;
}

.footer3 {
    width: 80%;
    padding: 0% 10%;
    font-size: 12px;
    margin-bottom: 32px;
}

/* @media (width < 1360px) {
    .scr1 .left {
        width: 46%;
        padding-left: 4%;
    }

    .nav {
        padding: 0px 4%;
        width: 92%;
    }

    .scr6 .box .cards {
        width: auto;
        padding: 0px 3.438rem 24px;
    }

    .scr6 .box .cards .card .header .main-heading {
        font-size: 20px;
    }
}

@media (width < 1214px) {
    .scr1 .left .left3 .btn1 {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .scr1 .left .left3 .btn2 {
        width: 100%;
    }

    .scr1 .left .left3 .btn2 .img {
        position: relative;
    }

    .nav-list .right .btn2 {
        display: none;
    }

    .nav-list .right {
        justify-content: flex-end;
    }
}

@media (width < 1022px) {
    .scr1 .left .left3 .btm-line {
        display: none;
    }

    .scr1 .left .left1 div {
        font-size: 5.8vw;
    }

    .scr5 .box {
        flex-wrap: wrap;
    }

    .scr5 .box .left {
        width: 100%;
    }

    .scr5 .box .right {
        width: 100%;
    }

    .scr6 .box .cards {
        flex-wrap: wrap;
    }

    .scr3 .card {
        flex-wrap: wrap;
    }
}

@media (width < 769px) {
    .scr1 {
        flex-wrap: wrap;
    }
    .scr1 .left {
        width: 100%;
    }
} */

/* .scr2,
.scr3,
.scr4,
.scr5,
.scr6,
.scr7,
.footer1,
.footer2,
.footer3 {
    display: none;
} */
